* {
    color: #666;
    font: 18px Geneva, Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    color: #468;
    font: 200 32px/40px bold Arial, Helvetica, sans-serif;
    letter-spacing: -2px;
    margin: 10px 0;
}

h1 em {
    color: #468;
    font-style: normal;
    font-weight: 900;
}

h2 {
    color: #5794bf;
    font: bold 24px/16px Geneva,Arial,Helvetica,sans-serif;
    letter-spacing: 2px;
    margin: 10px 0;
    text-align: center;
}

a, a:visited {
    color: #468;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    font-size: 24px;
}

table {
    border: 1px solid #ddd;
    border-collapse: collapse;
    font: 18px Geneva,Arial,Helvetica,sans-serif;
    margin: 20px;
    width: 95%;
}

td {
    border: 1px solid #ddd;
    min-width: 50px;
    padding: 8px;
    white-space: nowrap;
}

tr td:nth-child(2) {
    width: 99%;
}

tr:hover {
    background: rgba(87, 148, 191, 0.25) none repeat scroll 0 0;
}

.error-field {
    border: 1px solid rgba(255, 0, 0, 0.5) !important;
    box-shadow: 0 0 3px 0 rgba(255, 0, 0, 0.8) !important;
}

.error-field:hover {
    border: 1px solid rgb(255, 0, 0) !important;
    box-shadow: 0 0 3px 0 rgba(255, 0, 0, 1) !important;
}

.error-message {
    color: red;
    padding: 20px;
    
}

.error-box {
    border: 1px solid rgba(255, 0, 0, 0.5) !important;
    box-shadow: 0 0 3px 0 rgba(255, 0, 0, 0.8) !important;
    color: red;
    padding: 20px;
}

.error-box:hover {
    border: 1px solid rgb(255, 0, 0) !important;
    box-shadow: 0 0 3px 0 rgba(255, 0, 0, 1) !important;
}

.hyp {
    margin: 20px;
}

.hyp a {
    padding-bottom: 10px;
    margin-top: 10px;
}

.inpedit input, .inpedit select {
    margin: 10px;
}

.inpedit {
    margin-left: 20px;
    border: 0;
    text-align: right;
    width: 400px;
}

.inpedit label {padding-top: 15px;
                font-size: 18px;
                clear: both;
                float: left;
}

.inpedit a {
    padding-right:10px;
}

form img {
    border: 1px solid #ddd;
    float: left;
    margin: 20px;
    min-height: 300px;
    min-width: 300px;
}

.del {
    margin-left:20px;
}