.ui-dropdownchecklist {
    height: 38px;   
    border-radius: 3px;
    border: 1px solid #ddd;  
    background: #fff url(dropdown.png) no-repeat center right;
    overflow: hidden;
    padding-right: 10px;    
    width: 235px;
    border-radius: 3px;
}

.ui-dropdownchecklist-hover, .ui-dropdownchecklist-active {
    background-image: url(dropdown.png); 
    border-color: #5794bf;
    box-shadow: 0 0 3px 0px rgba(87, 148, 191, 0.25);
}

.ui-dropdownchecklist-text {
    padding: 10px; 
    white-space: nowrap;
}

.ui-dropdownchecklist-dropcontainer {   
    background-color: #fff;    
    width: 245px;
    box-shadow:  0 0 3px 0px rgba(87, 148, 191, 0.25);
    border: 1px solid #5794bf;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.ui-dropdownchecklist-item {
    padding: 8px;
}

.ui-dropdownchecklist-item-hover {
    background: rgba(87, 148, 191, 0.25);
}

.ui-dropdownchecklist-indent {
    padding-left: 20px;
}

.ui-dropdownchecklist-wrapper {   
    margin: 10px;
}

input[type="text"], input[type="date"], select {
    margin-right: 10px;
    margin-top: -54px;
    height: 40px; padding: 5px;
    width: 190px;
    border-radius: 3px;
    border: 1px solid #ddd;
}

input[type="text"]:hover, select:hover, input[type="date"]:hover { 
    border: 1px solid #5794bf;
    box-shadow:  0 0 3px 0px rgba(87, 148, 191, 0.25);
}

input[type="submit"] {
    width: 80px;
    height: 30px;
    margin-right: 10px;
    margin-top: -55px;
}

input[type="submit"] {
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    cursor: pointer;
    padding: 4px;
    border: 1px solid #018dc4;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    font: normal medium/normal Arial, Helvetica, sans-serif;
    color: rgba(255,255,255,0.9);
    -o-text-overflow: clip;
    text-overflow: clip;
    background: rgb(87, 148, 191);
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.2) ;
    text-shadow: -1px -1px 0 rgba(15,73,168,0.66) ;
    -webkit-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 300ms cubic-bezier(0.42, 0, 0.58, 1);
}

input[type="submit"]:hover {
    border: 1px solid #007cad;
    background: #3b83bd;
    -webkit-box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.3) ;
    box-shadow: 2px 2px 2px 0 rgba(0,0,0,0.3) ;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

input[type="submit"]:active {
    border: 1px solid #018dc4;
    background: #3b83bd;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2) inset;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.2) inset;
    text-shadow: none;
    -webkit-transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 50ms cubic-bezier(0.42, 0, 0.58, 1);
}